.tagcloud {
    box-sizing: border-box;
    width: 100%; /* IE10 needs that, otherwise tagcloud lines will not wrap */
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.7;
}

.tagcloud--item {
    display: inline-block;
}


$max-link-levels: 3;

@for $i from 1 through $max-link-levels {
    .tagcloud--link_level#{$i} {
        color: $softend-font-color;
        text-decoration: none;
    }
}

@for $i from 1 through $max-link-levels {
    .tagcloud--link_level#{$i}:hover,
    .tagcloud--link_level#{$i}:focus {
        text-decoration: underline;
    }
}

.tagcloud--link_level1 {
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tagcloud--link_level2 {
    font-size: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.tagcloud--link_level3 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
