html {
    /* ensure we cover at least the full viewport width and height */
    display: table;
    width: 100%;
    height: 100%;

    /* the bg.jpg is composed from the following backgrounds (We have to flatten them and save them as a JPG
     * because the xlink in the SVG doesn't work for Webkit…):
     */
    /*background:
        url(bg.svg) center / cover no-repeat fixed,
        radial-gradient(ellipse at center, #3C5066 0%, #1D2730 100%) center / cover no-repeat fixed,
        #3C5066;*/

    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #3C5066;

    color: white;

    font-family: "Adelle", serif;
}

body {
    display: table-cell;
}

.l-main {
    margin: 0;
    padding: 1rem;
}

.l-main-title {
    box-sizing: border-box;
    margin: auto;
    padding: 2rem;
    max-width: 36rem;
}

.l-main--content-box {
    max-width: calc( 36rem * 0.66 );
    margin: 0 auto;
}

@media screen and (min-width: 800px) and (max-height: 800px) {
    .l-main--content {
        display: flex;
        max-width: none;
        margin: 0 5%;
    }

    .l-main--content-box {
        display: flex;
        flex-direction: column;
    }

    .l-main--content-box:nth-child(even) {
        margin-left: 5%;
    }

    .l-main--content-box:nth-child(odd) {
        margin-right: 5%;
    }

    .l-main--content-box-content {
        flex: 1;
        display: flex;
        align-items: center;
    }
}

.page-title-box {
    text-align: center;
}

.page-title-box--title {
    margin: 0;
    padding: 0;
    font-size: 4rem;
    font-family: "Lobster", cursive;
    font-weight: normal;
    text-shadow: 3px 3px 1px #76A1CC;
}

@media screen and (max-width: 576px) {
    .page-title-box--title {
        /* shrink font for phones, to make sure the name fits without interfering the viewport scaling */
        font-size: 3rem;
    }
}

.page-title-box--title-word-first-letter {
    font-size: 120%;
}

.page-title-box--tagline {
    margin: 2rem 0 0 0;
    padding: 2rem 0 0 0;
    border-top: 2px solid #8D0803;

    color: #DDD; /* TODO: harmonize colors */
    font-size: 1.2rem;
    line-height: 1.3;
}

.content-box {
    margin-top: 4rem;
}

.content-box--headline {
    margin: 0 0 0.3rem 0;
    border-bottom: 1px dotted #A7A8A9;
    text-align: center;
    font-family: "Lobster", cursive;
    font-weight: normal;
    font-size: 1.8rem;
}

.content-box--content {
    text-align: center;
    padding: 1rem;
    margin: 0;

    background-color: rgba(200, 200, 200, 0.1);
}

.tagcloud {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

.tagcloud--item {
    display: inline-block;
}

.tagcloud--link_level1,
.tagcloud--link_level2,
.tagcloud--link_level3 {
    color: #DDD;
    text-decoration: none;
}

.tagcloud--link_level1:hover,
.tagcloud--link_level1:focus,
.tagcloud--link_level2:hover,
.tagcloud--link_level2:focus,
.tagcloud--link_level3:hover,
.tagcloud--link_level3:focus {
    text-decoration: underline;
}

.tagcloud--link_level1 {
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tagcloud--link_level2 {
    font-size: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.tagcloud--link_level3 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.address {
    font-style: normal;
    color: #DDD;
    line-height: 1.7;
}

.address--component {
    white-space: nowrap;
}

.address--component:after {
    content: ' –'
}

.address--component:last-child:after {
    content: '';
}
